section {
  padding: 5% 10%;
}

section img {
  width: 20rem;
  max-width: 100%;
  height: 35rem;
  margin-left: 150px;
}

section .main-home {
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

section .main-home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .main-home-content h5 {
  color: #ee1c47;
  font-size: 16px;
  font-weight: 500;
}

section .main-home-content h1 {
  color: #000;
  line-height: 1.1;
  font-size: 65px;
  font-weight: 600;
  margin-top: 6px;
  margin-right: 0;
  margin-bottom: 10px;
}

section .main-text {
  margin-top: 150px;
}

section .quote {
  font-family: Arial, sans-serif;
  font-size: 25px;
  color: #111;
  margin-bottom: 10px;
}

section .basicInfo {
  padding: 5% 10%;
  margin-left: 20px;
  overflow-x: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container {
  padding: 5% 10%;
  margin-left: 20px;
  overflow-x: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .contInfo {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 75%;
  padding: 20px;
  margin-top: 50px;
  margin-left: 150px;
  border-style: outset;
  border-width: 5px;
  border-color: #dee2e6;
  border-radius: 15px;
}

section .head {
  font-size: 25px;
  padding: 10px;
}

section .module {
  padding-left: 10px;
}

section table {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 75%;
  padding: 20px;
  margin-top: 50px;
  margin-left: 150px;
  border-style: outset;
  border-width: 5px;
  border-color: #dee2e6;
  border-radius: 15px;
}

section th {
  font-size: 25px;
  float: left;
  color: #111;
  padding: 10px;
}

section td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dee2e6;
  padding: 10px;
  float: left;
  width: 50%;
}

section tbody tr:hover {
  background-color: #f1f1f1;
  /* Light gray hover background */
}

div {
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Fading animation */
}

div .slideshow-container {
  max-width: 100%;
  position: relative;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div .mySlides {
  text-align: center;
  margin-top: 8rem;
}

div .mySlides img {
  width: 28rem;
  border-radius: 1rem;
  border-style: outset;
  border-width: 5px;
  border-color: #dee2e6;
  border-radius: 15px;
}

div .prev,
div .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div .next {
  border-radius: 3px 0 0 3px;
}

div .prev {
  border-radius: 3px 0 0 3px;
}

div .prev:hover,
div .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

div .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

div .active,
div .dot:hover {
  background-color: #717171;
}

div .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #2c2c2c;
  color: #fff;
}

footer p {
  text-align: center;
}

header.sticky {
  background: #2c2c2c;
  padding: 20px 10%;
  -webkit-box-shadow: #333c56;
          box-shadow: #333c56;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}

header {
  background-color: #2c2c2c;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 20px;
}

header .logo img {
  max-width: 120px;
  height: 50px;
  border-radius: 100px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

header ul li a {
  color: #fff;
  padding: 10px 20px;
  -webkit-transition: all 0.42s ease;
  transition: all 0.42s ease;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

header ul li a:hover {
  color: #ee1c47;
}

header div.nav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.nav-icon a i {
  margin-right: 20px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  -webkit-transition: all 0.42s ease;
  transition: all 0.42s ease;
}

header div.nav-icon a i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #ee1c47;
}

header div.nav-icon #menu-icon {
  font-size: 35px;
  color: #fff;
  z-index: 10001;
  cursor: pointer;
}

@media (max-width: 890px) {
  header {
    padding: 20px 3%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media only screen and (max-width: 1200px), (min-width: 600), (min-width: 768) {
  .main-text h1 {
    font-size: 50px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header {
    padding: 20px 3%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  section {
    width: 100%;
    padding: 100px 5%;
  }
  section .container {
    width: 100%;
  }
  section .contInfo {
    margin: auto;
    width: 100%;
  }
  section table {
    margin: auto;
    width: 100%;
  }
  .main-text p {
    font-size: 18px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-home {
    background-size: contain;
  }
}

@media (max-width: 750px) {
  .slideshow-container {
    width: 100%;
  }
  .slideshow-container .mySlides img {
    width: 100%;
    height: auto;
  }
  .slideshow-container .prev,
  .slideshow-container .next {
    display: none;
  }
  .navmenu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 120px 30px;
    -webkit-transition: all 0.42s ease;
    transition: all 0.42s ease;
  }
  .navmenu:hover {
    color: #ee1c47;
    -webkit-transition: all 0.42s ease;
    transition: all 0.42s ease;
  }
  .navmenu a {
    display: block;
    margin: 18px 0;
  }
  .navmenu.open {
    right: 0;
  }
  section .main-home {
    display: block;
  }
  section .main-home-content {
    display: block;
  }
  section .main-text {
    margin-top: auto;
  }
  section img {
    width: 100%;
    height: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 750px) {
  #menu-icon {
    display: none;
  }
  .slideshow-container .prev {
    left: 0;
  }
  .slideshow-container .next {
    right: 0;
  }
}
/*# sourceMappingURL=styles.css.map */